@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<RadzenLayout>
    <RadzenHeader class="bg-primary text-white">
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="0" >
            <RadzenImage Path="images/Visma_logo.png" Style="width: 10rem" AlternateText="community" />
            
            
        </RadzenStack>
    </RadzenHeader>


    <RadzenPanelMenu DisplayStyle="@(sidebarExpanded ? MenuItemDisplayStyle.IconAndText : MenuItemDisplayStyle.Icon)" ShowArrow="false"> 
        <RadzenPanel Text=" NavnEtternavn@visma.com"/>
        <RadzenPanelMenuItem Text="Hjem" Icon="home" Path="" />
        <RadzenPanelMenuItem Text="Import" Icon="file_upload" Path="Importer" />
        <RadzenPanelMenuItem Text="Generator" Icon="create" Path="Generator" />
        <RadzenPanelMenuItem Text="Logg ut" Icon="logout" Path="Login" class="" />
    </RadzenPanelMenu>
   

    <RadzenBody>
        <div class="rz-p-4">
           @Body
        </div>
    </RadzenBody>



</RadzenLayout>
<RadzenFooter class="rz-text-align-center bg-primary text-white" >
    <RadzenText TextStyle="TextStyle.Overline" class="text-white p-2">Visma ┃ Gruppe 5 ┃ @@2024 </RadzenText>

</RadzenFooter>
@code {
    bool sidebarExpanded = true;


}