@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using Radzen
@using Radzen.Blazor

<RadzenLayout>
    <RadzenHeader class="bg-primary">
        <RadzenStack Orientation="Orientation.Vertical" AlignItems="AlignItems.Center" Gap="2rem" >
        
            <RadzenImage Path="images/logo.png" Style="width: 200px" AlternateText="logo" class="2rem" />
       
            <RadzenPanel AlignItems="AlignItems.Center " class="shadow-none">
                <RadzenPanelMenu class="">
                    <RadzenRow AlignItems="AlignItems.Center" class="rz-text-align-center " Gap="2rem">
                        <RadzenPanelMenuItem Text="Hjem" Icon="home" Path="" class="border-danger" />
                        <RadzenPanelMenuItem Text="Logg ut" Icon="logout" Path="Login" class="border-danger" />
                    </RadzenRow>
                </RadzenPanelMenu>

            </RadzenPanel>
        
        </RadzenStack>

    </RadzenHeader>

 

    
   
    <RadzenBody class="bg-white">
        <div class="rz-p-4">
           @Body
        </div>
    </RadzenBody>


    <RadzenFooter class="rz-text-align-center shadow">
        
        <RadzenText TextStyle="TextStyle.Overline" class="p-2">Datagenerator ┃ Gruppe 5 ┃ @@2024 </RadzenText>

    </RadzenFooter>

</RadzenLayout>

@code {
    bool sidebarExpanded = true;

    private string user = "";

    [CascadingParameter]

    private Task<AuthenticationState>? authenticationState { get; set; }
    

    protected override async void OnInitialized()
    {
        if (authenticationState is not null)
        {
            var state = await authenticationState;

            user = state.User.Identity?.Name ?? "";

        }

        await base.OnInitializedAsync();


    }

    

    

}